<div class="p-4" style="border: 1px solid lightgrey;">
  <div class="row">
    <div class="col-4 col-md-4 col-sm-12">
      <p-dropdown styleClass="w-100" placeholder="Select a Unit" [options]="units" [(ngModel)]="selectedUnit"
        optionLabel="name" (onChange)="unitSelected()">
        <ng-template pTemplate="selectedItem">
          <div class="d-flex flex-row justify-content-between w-100">
            <div>{{selectedUnit?.name}}</div>
            <div>({{selectedUnit?.cost}})</div>
            <div>({{selectedUnit?.costMultiplier}})</div>
          </div>
        </ng-template>
        <ng-template let-unit pTemplate="item">
          <div class="d-flex flex-row justify-content-between w-100">
            <div>{{unit.name}}</div>
            <div>({{unit.cost}})</div>
            <div>({{unit.costMultiplier}})</div>
          </div>
        </ng-template>
      </p-dropdown>

      <div class="d-flex flex-column">
        <div class="field-checkbox" *ngIf="generalEnabled">
          <p-checkbox [disabled]="!generalEnabled" [(ngModel)]="isGeneral" [binary]="true" inputId="general"></p-checkbox>
          <label for="general">General</label>
        </div>
        <small *ngIf="!generalEnabled">A General is already selected.</small>

        <div class="field-checkbox" *ngIf="battleStandardEnabled">
          <p-checkbox [disabled]="!battleStandardEnabled" [(ngModel)]="hasBattleStandard" [binary]="true" inputId="bs"></p-checkbox>
          <label for="bs">Battle Standard</label>
        </div>
        <small *ngIf="!battleStandardEnabled">Your Batte Standard is already assigned.</small>
      </div>

    </div>
    <div class="col-3 col-md-3 col-sm-12 pt-4">
      <div class="d-flex flex-column" *ngIf="selectedUnit?.name">
        <app-strength-selector [disabledStrength]="selectedUnit.strength"
          [(selectedStrength)]="selectedUnit.strength[0]"></app-strength-selector>
        <app-strength-selector [disabledStrength]="selectedUnit.strength"
          [(selectedStrength)]="selectedUnit.strength[1]"></app-strength-selector>
        <app-strength-selector [disabledStrength]="selectedUnit.strength"
          [(selectedStrength)]="selectedUnit.strength[2]"></app-strength-selector>
      </div>

      <div *ngIf="selectedUnit?.defaultStrength?.length > 0">
        <b>Default strength</b>
        <br>
        <ul class="list-group">
          <li class="list-group-item" style="max-width: 35rem" *ngFor="let s of selectedUnit.defaultStrength">
            <div>{{s.name}}</div>
            <small>{{s.description}}</small>
          </li>
        </ul>
      </div>


    </div>
    <div class="col-3 col-md-3 col-sm-12 pt-4">
      <div class="d-flex flex-column" *ngIf="selectedUnit?.name">
        <app-weakness-selector [disabledWeakness]="selectedUnit.weakness" [(selectedweakness)]="selectedUnit.weakness[0]"></app-weakness-selector>
        <app-weakness-selector [disabledWeakness]="selectedUnit.weakness" [(selectedweakness)]="selectedUnit.weakness[1]"></app-weakness-selector>
      </div>
      <div *ngIf="selectedUnit?.defaultWeakness?.length > 0">
        <b>Default weakness</b>
        <br>
        <ul class="list-group">
          <li class="list-group-item" style="max-width: 35rem" *ngFor="let s of selectedUnit.defaultWeakness">
            <div>{{s.name}}</div>
            <small>{{s.description}}</small>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-2 col-md-2 col-sm-12 pt-4">

      <div *ngIf="selectedUnit?.name" class="d-flex flex-column justify-content-between h-100">
        <span>Total cost: <b>{{getTotalCost()}}</b></span>
        <p-button label="Add unit" icon="pi pi-plus" (onClick)="addUnit()"></p-button>
      </div>
    </div>
  </div>
</div>
