<div class="p-4" style="border: 1px solid lightgrey;">
  <div class="row">
    <div class="col-4">
      <p-dropdown styleClass="w-100" placeholder="Select a Unit" [options]="units" [(ngModel)]="selectedUnit"
        optionLabel="name" (onChange)="unitSelected()">
        <ng-template pTemplate="selectedItem">
          <div class="d-flex flex-row justify-content-between w-100">
            <div>{{selectedUnit?.name}}</div>
            <div>({{selectedUnit?.cost}})</div>
            <div>({{selectedUnit?.costMultiplier}})</div>
          </div>
        </ng-template>
        <ng-template let-unit pTemplate="item">
          <div class="d-flex flex-row justify-content-between w-100">
            <div>{{unit.name}}</div>
            <div>({{unit.cost}})</div>
            <div>({{unit.costMultiplier}})</div>
          </div>
        </ng-template>
      </p-dropdown>
    </div>
    <div class="col-3">
      <div class="d-flex flex-column" *ngIf="selectedUnit?.name">
        <app-strength-selector [(selectedStrength)]="selectedUnit.strength[0]"></app-strength-selector>
        <app-strength-selector [(selectedStrength)]="selectedUnit.strength[1]"></app-strength-selector>
        <app-strength-selector [(selectedStrength)]="selectedUnit.strength[2]"></app-strength-selector>
      </div>

      <div *ngIf="selectedUnit?.defaultStrength?.length > 0">
        <b>Default strength</b>
        <br>
        {{selectedUnit.defaultStrength}}
      </div>


    </div>
    <div class="col-3">

      <div class="d-flex flex-column" *ngIf="selectedUnit?.name">
        <app-weakness-selector [(selectedweakness)]="selectedUnit.weakness[0]"></app-weakness-selector>
        <app-weakness-selector [(selectedweakness)]="selectedUnit.weakness[1]"></app-weakness-selector>
        <app-weakness-selector [(selectedweakness)]="selectedUnit.weakness[2]"></app-weakness-selector>
      </div>
      <div *ngIf="selectedUnit?.defaultWeakness?.length > 0">
        <b>Default weakness</b>
        <br>
        {{selectedUnit.defaultWeakness}}
      </div>
    </div>
    <div class="col-2">

      <div *ngIf="selectedUnit?.name" class="d-flex flex-column justify-content-between h-100">
        <span>Total cost: <b>{{getTotalCost()}}</b></span>
        <p-button label="Add unit" icon="pi pi-plus" (onClick)="addUnit()"></p-button>
      </div>
    </div>
  </div>
</div>
