<!-- <table>
  <thead>
    <tr>
      <th> Name </th>
      <th> Strength </th>
      <th> Weakness </th>
      <th> Cost </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let unit of army.units">
      <td> {{unit.name}} </td>
      <td> {{concatNames(unit.strength)}} </td>
      <td> {{concatNames(unit.weakness)}} </td>
      <td>
        {{getTotalUnitCost(unit)}}
      </td>
    </tr>
  </tbody>
</table> -->



<p-table [value]="army.units" responsiveLayout="scroll">
  <ng-template pTemplate="caption">
    <h4>{{army.name}}</h4>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>Name</th>
      <th>Strength</th>
      <th>Weakness</th>
      <th>Cost</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-unit>
    <tr>
      <td> {{unit.name}} </td>
      <td> {{concatNames(unit.strength)}} </td>
      <td> {{concatNames(unit.weakness)}} </td>
      <td>
        {{getTotalUnitCost(unit)}}
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <h4>Total army cost: {{getTotalArmyCost()}}</h4>
  </ng-template>
</p-table>



<div class="m-2">
  <app-army-selector (onAddUnit)="addUnit($event)"></app-army-selector>
</div>

<router-outlet></router-outlet>
