<div class="d-flex flex-row align-items-center">
  <img class="ms-4" height="60" src="../assets/Logo.png" alt="">
  <h5>Hobgoblin Army Builder</h5>
</div>

<p-table [value]="army.units" responsiveLayout="scroll" responsiveLayout="stack" >
  <ng-template pTemplate="caption">
    <!-- <h4>{{army.name}}</h4> -->

    <div class="field-checkbox">
      <p-checkbox [(ngModel)]="showKeywordDescriptions" [binary]="true" inputId="showDesc"></p-checkbox>
      <label for="showDesc">Show Keyword descriptions</label>
    </div>

  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 20rem;">Name</th>
      <th style="width: 35rem;">Strength</th>
      <th style="width: 35rem;">Weakness</th>
      <th>Cost</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-unit>
    <tr>
      <td style="width: 20rem;">
        <span class="p-column-title">Name</span>
        <div class="fs-2">{{unit.name}}</div>
        <div class="ms-2">Cost multiplier: x{{unit.costMultiplier}}</div>
        <div class="ms-2" *ngIf="unit.isGeneral"><b>General</b></div>
        <div class="ms-2" *ngIf="unit.hasBattleStandard"><b>Battle Standard</b></div>

      </td>
      <td style="width: 35rem;">
        <span class="p-column-title">Strength</span>
        <ul class="list-group">
          <li class="list-group-item" style="max-width: 35rem" *ngFor="let s of unit.strength; let i = index">
            <app-strength-selector [disabledStrength]="unit.strength" [(selectedStrength)]="unit.strength[i]">
            </app-strength-selector>
            <small *ngIf="showKeywordDescriptions">{{s?.description}}</small>
          </li>

          <li class="list-group-item" style="max-width: 35rem" *ngFor="let s of unit.defaultStrength">
            <div>{{s.name}}</div>
            <small *ngIf="showKeywordDescriptions">{{s.description}}</small>
          </li>
        </ul>
      </td>
      <td style="width: 35rem;">
        <span class="p-column-title">Weakness</span>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let w of unit.weakness; let i = index">
            <app-weakness-selector [(selectedweakness)]="unit.weakness[i]"></app-weakness-selector>
            <!-- <div>{{w.name}}</div> -->
            <small *ngIf="showKeywordDescriptions">{{w?.description}}</small>
          </li>
          <li class="list-group-item" style="max-width: 35rem" *ngFor="let w of unit.defaultWeakness">
            <div>{{w.name}}</div>
            <small *ngIf="showKeywordDescriptions">{{w.description}}</small>
          </li>
        </ul>
      </td>
      <td>
        <span class="p-column-title">Unit cost</span>
        {{getTotalUnitCost(unit)}}
      </td>
      <td>
        <span class="p-column-title">Remove</span>
        <p-button icon="pi pi-trash" (onClick)="removeUnit(unit)"></p-button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <h4>Total army cost: {{getTotalArmyCost()}}</h4>
  </ng-template>
</p-table>



<div class="m-2">
  <app-army-selector [generalEnabled]="!generalAssigned()" [battleStandardEnabled]="!battleStandardAssigned()"
    (onAddUnit)="addUnit($event)"></app-army-selector>
</div>

<router-outlet></router-outlet>
